
        span {
            width: 100px;
            height: 60px;
            background-color: black;
            display: inline-block;
            color: aliceblue;
            text-align: center;
            line-height: 60px;
            font-size: 25px;
        }
        div{
            width: 400px;
            height: 600px;
            background-color: darkorange;
            font-size: 30px;
            text-align: center;
            color: aliceblue;
            border-radius: 30px;
            position: absolute;
            margin-top: 3%;
            margin-left: 10%;
        }
    